<div class="row">
        <section class="main col-md-12">
          <article>
          <h2>About</h2>
           <p>*********************************************************************************</p>
           <p>* WEB322 – Assignment 05 *</p>
           <p>* assignment has been copied manually or electronically from any other source (including web sites) or *<p>
           <p>* distributed to other students. *</p>
           <p>* Name: _Anmol Sandhu_ Student ID: _135051175_ Date: __24 March 2019__ *</p>
           <p>* Online (Heroku) Link: <a href= "https://salty-cove-38267.herokuapp.com">https://salty-cove-38267.herokuapp.com</a></p>
           <p><********************************************************************************/p>

          </article>
        </section>
      </div>


