<div class="row">
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>This webpage needs some changes, it will be available Soon.</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>This webpage has changed by Anmol Sandhu as a part of an assignment. It is updating now, hopfully it will be an awesome webpage. Please wait  to see the result!</p>
          <p>*********************************************************************************</p>
           <p>* WEB322 – Assignment 05 *</p>
           <p>* assignment has been copied manually or electronically from any other source (including web sites) or *<p>
           <p>* distributed to other students. *</p>
           <p>* Name: _Anmol Sandhu_ Student ID: _135051175_ Date: __24 March 2019__ *</p>
           <p>* Online (Heroku) Link: <a href= "https://salty-cove-38267.herokuapp.com">https://salty-cove-38267.herokuapp.com</a></p>
           <p><********************************************************************************/p>

           
          </article>
        </section>
      </div>
