<div class = "row">
    <div class = "col-md-12">
        <h2>Images<a href="/images/add" class="btn btn-success pull-right">Add New Images</a></h2>
        <hr/>
    </div>
    <div class="col-md-4">
        {{#each image}}
        <img src='/images/uploaded/{{this}}' class="img-responsive img-thumbnail"/><br/>
        {{else}}
        <strong>No Images Available</strong>
        {{/each}}
        <img src='/images/uploaded/1540932881512.jpg'/>
    </div>
</div>